@font-face {
    font-family: 'satoshi-regular';
    src: url('../assets/fonts/Satoshi-Regular.woff') format('woff2');
    src: url('../assets/fonts/Satoshi-regular.woff') format('woff'),
        url('../assets/fonts/Satoshi-regular.woff2') format('woff2'),
        url('../assets/fonts/Satoshi-regular.tff') format('truetype');
    font-display: swap;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'satoshi-italic';
    src: url('../assets/fonts/Satoshi-Italic.woff2') format('woff2');
    src: url('../assets/fonts/Satoshi-Italic.woff') format('woff'),
        url('../assets/fonts/Satoshi-Italic.woff2') format('woff2'),
        url('../assets/fonts/Satoshi-Italic.tff') format('truetype');
    font-display: swap;
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'satoshi-bold';
    src: url('../assets/fonts/Satoshi-Bold.woff2') format('woff2');
    src: url('../assets/fonts/Satoshi-Bold.woff') format('woff'),
        url('../assets/fonts/Satoshi-Bold.woff2') format('woff2'),
        url('../assets/fonts/Satoshi-Bold.tff') format('truetype');
    font-display: swap;
    font-style: normal;
    font-weight: 700;
}